/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home Section */
.home {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 10%;
  margin-bottom: 5%;


  @media (max-width: 767px){
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 1rem 2rem 1rem;  /* Increase top padding for navbar space */
  text-align: center;
  }
}

.home .info {
  margin-bottom: 2rem;
  color: #2ab3a1;
}

.home .greet {
  font-size: 2.5rem;  /* Increased font size */
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.pronoun{
  color: white;
}

.pronoun span{
  color: #2ab3a1;
}

.home .hello {
  width: 50px;  /* Decreased size */
  height: 50px;  /* Decreased size */
  margin-left: 10px;  /* Ensure some space between text and animation */
}

.home .name {
  font-size: 2rem;  /* Increased font size */
}

.home .typewriter {
  margin-top: 1rem;
  font-size: 1.5rem;  /* Increased font size */
}

/* Animation Section */
.animation {
  max-width: 500px;
  margin: auto;
}

/* Part 2 Section */
.part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
}

.intro span{
  color: #2ab3a1;;
}

.part2 .intro {
  max-width: 600px;
}

.part2 .intro h1 {
  font-size: 3.5rem;  
  color: white;
  padding-bottom: 1rem;;
}

.part2 .intro p {
  font-size: 2rem;  
  color: white;
  padding-top: 1rem;
}

.part2 .image {
  margin-top: 2rem;
}

.part2 img {
  max-width: 100%;
  height: auto;
}

/* Part 3 Section */
.part3 {
  padding: 2rem 1rem;
  text-align: center;
}

.part3 h1 {
  font-size: 2.5rem;  
  color: white;
}

.part3 .SocialMedia {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .home {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    padding: 6rem 3rem 2rem 3rem;  /* Increase padding for larger screens */
  }

  .home .greet {
    font-size: 3rem;  /* Further increased font size */
  }

  .home .hello {
    width: 75px;  /* Adjust size for larger screens */
    height: 75px;  /* Adjust size for larger screens */
  }

  .home .name {
    font-size: 2.5rem;  /* Further increased font size */
  }

  .home .typewriter {
    font-size: 2rem;  /* Further increased font size */
  }

  .part2 {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  .part2 .image {
    margin-top: 0;
  }

  .part2 .intro h1 {
    font-size: 3rem;  /* Further increased font size */
  }

  .part2 .intro p {
    font-size: 2rem;  /* Further increased font size */
  }

  .part3 h1 {
    font-size: 3rem;  /* Further increased font size */
  }
}
